<footer>
    <!-- FOOTER TOP -->
    <div class="ft-top">
        <div class="container">
            <div class="ft-top-wrapper">
                <div class="row justify-content-between align-items-center justify-content-xl-center">
                    <div class="col-md-3  ft-col">
                        <h6>A propos de nous</h6>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium, totam rem aperiam,</p>
                    </div>
                    <div class="col-md-5  col-xl-4 ml-xl-3 offset-xl-1 ft-col">
                        <div class="social">

                            <a href="#">
                                <i class="zmdi zmdi-facebook-box"></i>
                            </a>
                            <a href="#">
                                <i class="zmdi zmdi-instagram"></i>
                            </a>

                            <a href="#">
                                <i class="zmdi zmdi-google-maps"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-2  ml-xl-3 ft-col">
                        <h6>Nous contacter</h6>
                        <p>1 Rue Saint-Gilles, 43000 Le Puy-en-Velay</p>
                        <p>04 71 05 74 85</p>
                        <p>contact@maisonagapi.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ft-bot">
        <div class="container">
            Agapi {{ 'now' | date('Y') }}
            <br>
            @ DesignGalaxy8 Theme
            <br>
            <span><a href="#" style=" color: white">Mentions légales</a></span>
        </div>
    </div>
</footer>